.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* Change svg size with scale (also I can use rotate, scale, skew) */
  transform: scale(8);
}

.loading svg polyline#back {
  stroke: #ff4d5033;
  animation: dash 1s linear infinite;
}

.loading svg polyline#front {
  stroke: #ff4d4f;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
